[mysqld_safe]
log-error=/www/mysql-5.7-data/mysql_error.log
pid-file=/www/mysql-5.7-data/mysql.pid

[mysqld]
user=mysql
default-time_zone = '+8:00'

#basedir=/usr/local/mysql-5.7.12/
datadir=/www/mysql-5.7-data/
server_id=1
port=3306
socket=/tmp/mysql.sock

#lc-messages-dir=/usr/local/mysql-5.7.12/share/english/

join_buffer_size=128M
sort_buffer_size=100M
read_rnd_buffer_size=100M
innodb_buffer_pool_size=128M
max_connections=5000
explicit_defaults_for_timestamp=1

#sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
sql-mode="NO_AUTO_Create_USER,NO_ENGINE_SUBSTITUTION"

character-set-client-handshake=FALSE
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'

log-error=/www/mysql-5.7-data/mysql_error.log
slow_query_log = 1
slow-query-log-file=/www/mysql-5.7-data/mysql_slowquery.log　

[mysql]
default-character-set=utf8mb4

[client]
port=3306
socket=/tmp/mysql.sock
default-character-set=utf8mb4

[mysqldump]
quick
